@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}

main{
    width: 100%;
    min-height: 100vh;
    padding-left: 6%;
    padding-top: 4%;
}

.heading{
    display: flex;
    align-items: center;
    font-size: 32px;
    color: #546368;
    margin-bottom: 6px;
}
.heading img{
    width: 2.5em; 
}

.btn img{
    width: 1.5em;
    margin-right: 12px;
}

.btn{
    display: flex;
    align-items: center;
    background: linear-gradient(#7255e5e8,#45338ee8);
    color: #fff;
    border: none;
    outline: 0;
    border-radius: 40px;
    padding: 15px 20px;
    margin-top: 4%;
    margin-left: 14%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 2.5px 2.6px;
    cursor: pointer; 
}

.textfield{
    position: relative;
    width: 90%;
    max-width: 500px;
    height: 30vh;
    border: 1px solid #E0E0E0;
    padding: 6px;
    margin: 18px auto;
    border-radius: 14px;
    outline: 0;
    text-align: left;
}
.textfield:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.textfield img{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 1.8em;
    cursor: pointer;    
}














@media (min-width: 770px) {
        main{
            background-color: white;
            padding-top: 4%;
            padding-left: 6%;
        }
        .heading{
            font-size: 36px;
        }
        .btn{
            margin-top: 2%;
            margin-left: 5%;
            padding: 1em;
            font-size: 16px;
        }   
}